/* RESET */

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ig {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

li {
    list-style: none;
}
 
/* LAYOUT */
.container, .container-lg, .container-sm {
    width: 100%;
}

.container{
	max-width: 850px;
	margin: 0 auto;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.col-4 {
    width: calc(4 * 100% / 12);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.down-arrow {
    font-size: 40px;
    margin-top: auto;
}


.col-8{
    width: calc(8 * 100% / 12);
}

.col-8 img {
    max-width: 100%;
}


/* style */

.container-lg {
    padding: 20px;
}

.container-lg ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn {
    background-color: #0161FF;
    text-align: center;
    color: white;
    border: none;
    padding: 9px 13px;
    display: inline-block;
}

.hero-section {
    padding-top: 50px;
    padding-bottom: 20px;
}


.bg-hero {
    background-color: #B4D0E7;
}


.container h1 {
    font-size: 65px;
    margin-bottom: 40px;
}

/* utilities */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/* debug */
