/* RESET */

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/* a {
	text-decoration: none;
	color: currentColor;
} */

menu,
ul,
ol {
	list-style: none;
}

li {
    list-style: none;
}
 
/* LAYOUT */
.container, .container-lg, .container-sm {
    width: 100%;
}

.container{
	max-width: 900px;
	margin: 0 auto;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-2 {
    width: calc(2* 100% / 12);
    min-height: 250px;
}

.col-4 {
    width: calc(4* 100% / 12);
}

.hero-section .col-4 {
    width: calc(4 * 100% / 12);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.down-arrow {
    font-size: 40px;
    margin-top: auto;
}

.fatt-mensile {
    margin-right: 40px;
}

.plan-section {
    margin-top: 80px;
}

.col-8{
    width: calc(8 * 100% / 12);
}

.col-8 img {
    max-width: 100%;
}

.col-12 {
    width: 100%;
    margin-top: 40px;
    padding: 0 20px;
}

/* style */

.container-lg {
    padding: 20px;
}

.container-lg ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn {
    background-color: #0161FF;
    text-align: center;
    color: white;
    border: none;
    padding: 9px 13px;
    display: inline-block;
}

.white-btn {
    background-color: white;
    border: 1px solid black;
    padding: 0 20px;
    line-height: 35px;

}


.hero-section {
    padding-top: 50px;
    padding-bottom: 20px;
}


.bg-hero {
    background-color: #B4D0E7;
}


.container h1 {
    font-size: 65px;
    margin-bottom: 40px;
}

.plan-section .col-4 {
    width: calc(4* 100% / 12);
    display: flex;
    padding: 10px 20px;
}

.plan-section .card {
    font-size: 14px;
    border: 1px solid lightgray;
}

.plan-title {
    font-size: 25px;
    margin-bottom: 40px;
}

.input-radio {
    margin-bottom: 30px;
}

.card__header {
    padding: 7px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
}

.card__body {
    padding: 15px;
}

.card__body ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.type-plan {
    margin-bottom: 40px;
}

.free-trial {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}   

.plan-description {
    margin-top: 40px;
}

.plan-description ul {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.plan-description ul:last-child {
    margin-bottom: auto;
}

.plan-description i {
    color: #0161FF;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contact-p {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.img-partner {
    padding-right: 20px;
}


.sm-col-partner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 50px;
    gap: 20px;
 
}

.card-title {
    font-size: 23px;
    margin-bottom: 20px;
}

.info-title {
    max-width: 550px;
    font-size: 25px;
    margin-bottom: 50px;
}

.member-section .col-4 {
    padding: 40px 30px;
    background-color: #F5F5F5;
    color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.member-section .col-2 div {
    display: flex;
}

.designit {
    filter: invert(1);
    background-color: #592B62;
    padding: 65px;
    border: 10px solid #2C1632;
}

.florida {
    filter: invert(1);
    background-color: #CC6924;
    padding: 65px;

}

.arizona {
    filter: invert(1);
    background-color: #90EED3;
    padding: 65px;
}

.topps {
    filter: invert(1);
    background-color: #00C8D3;
    padding: 65px;
}


.member-section .col-4 img {
    max-width: 50%;
    border-bottom: 1px solid gray;
}

.member-section .col-4 div {
    margin-top: 40px;
}

.bicycle {
    filter: invert(1);
    background-color:  #00DAD6;
    padding: 65px;
}

.lonely {
    filter: invert(1);
    background-color: #EFDB75;
    padding: 65px;
}

.hearts {
    filter: invert(1);
    background-color: #4A2F16;
    padding: 65px;
}

.clear {
    filter: invert(1);
    background-color: #0027B0;
    padding: 65px;
}

.agency-section {
    background-color: #B4D0E7;
    padding: 90px 0;
}

.agency-section .row {
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
}

.agency-section .row div {
    max-width: 400px;
}

.agency-section h1 {
    font-size: 35px;
}

/* utilities */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.thin-border {
    border: 1px solid lightgray;
}

.padding {
    padding: 30px 15px;
}

.margin-section {
    margin-top: 120px;
}

.bg-white {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 35px;
}

/* debug */

.bg-black {
    background-color: black;
}